
{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>User</span></th>
                                    <th><span>Created</span></th>
                                    <th class="text-center"><span>Status</span></th>
                                    <th><span>Email</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for user in user_list %}
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="{{ user.get_absolute_url }}" class="user-link">{{ user.get_username }} </a>
                                        <span class="user-subhead">Member</span>
                                    </td>
                                    <td>{{ user.date_joined }} </td>
                                    <td class="text-center">
                                        <span class="label label-default">pending</span>
                                    </td>
                                    <td>
                                        <a href="#">{{ user.email }}</a>
                                    </td>
                                    <td style="width: 20%;">
                                        <a href="#" class="table-link text-warning">
                                            <span class="fa-stack">
                                               <button 
                                                    class="btn btn-outline-primary brn-sm btn-follow"
                                                    data-id="{{ user.id }}"
                                                    data-action="{% if request.user in user.followers.all %}un{% endif %}follow"
                                                >
                                                    {% if request.user not in user.followers.all %}
                                                        follow
                                                    {% else %}
                                                      unfollow
                                                    {% endif %}
                                                    
                                                </button>
                                            </span>
                                        </a>
                                     
                                    </td>
                                </tr>
                               {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block style %}
    <link rel="stylesheet" href=" {% static 'assets/css/user_list.css' %} ">
{% endblock style %}

<script>
    const cookie = getCookie('csrftoken');
    const url = "{% url 'follow_user' %}";
    let options = {
        method: 'POST',
        headers: {
            'X-CSRFToken': cookie
        },
        origin: 'same-origin'
    }

    document.querySelectorAll('.btn-follow').forEach(function(item) {
        item.addEventListener('click', function(event){
            let followBtn = this;
            let formData = new FormData()
            formData.append('id', followBtn.dataset.id)
            formData.append('action', followBtn.dataset.action)
            options['body'] = formData

            fetch(url, options)
                .then(resp => resp.json())
                .then(data => {
                    console.log(data)
                    if(data['status'] === 'success') {
                        console.log(data['status']);
                    }
                })
        })
    })
</script>

{% block dom %}
  const cookie = getCookie('csrftoken');
    const url = "{% url 'follow_user' %}";
    let options = {
        method: 'POST',
        headers: {
            'X-CSRFToken': cookie
        },
        origin: 'same-origin'
    }

    document.querySelectorAll('.btn-follow').forEach(function(item) {
        item.addEventListener('click', function(event){
            let followBtn = this;
            let formData = new FormData()
            formData.append('id', followBtn.dataset.id)
            formData.append('action', followBtn.dataset.action)
            options['body'] = formData

            fetch(url, options)
                .then(resp => resp.json())
                .then(data => {
                    console.log(data)
                    if(data['status'] === 'success') {
                        console.log(data['status']);
                        let previousAction = followBtn.dataset.action
                        let action = previousAction === 'follow' ? 'unfollow' : 'follow';
                        followBtn.dataset.action = action;
                        followBtn.innerHTML = action
                    }
                })
        })
    })
{% endblock dom %}