{% extends "base.html" %}

{% load static %}

{% block title %}
post list
{% endblock title %}



{% block content %}

{% if messages %}
{% for message in messages %}
<li> {{ message }} </li>
{% endfor %}

{% endif %}

<h1>Post list</h1>
<a href="{% url 'create_post' %} " class="btn btn-primary">Add post</a>
<br>


<div class="container" >
  <div class="row">
    <div class="col-md-7" id="post-ajax">
      {% include "apps/post/ajax_list.html" %}
    </div>
    <div class="col-md-4" id="notif-feed">
      {% include 'apps/partial/notifications.html' %}
    </div>
  </div>
</div>
      
{% endblock content %}

{% block style %}
    <link rel="stylesheet" href=" {% static 'assets/css/feed.css' %} ">
{% endblock style %}

<script>
  const notifSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/notif/feed/'
  );

  notifSocket.onopen = function(){
    console.log("Connection is open")
  }

  notifSocket.onmessage = function(e){
    const data = JSON.parse(e.data)
    switch(data.name){
      case "greeting": 
        console.log(data.message)
        break;
      
      case "notif_feed": 
        console.log(data.message)
        buildDomContent(data.message)
        break;
        
      default:
        throw new Error("Unknown message type")
        break;
    }
  }

  notifSocket.onclose = function(e){
    console.error(e)

  }

  function markNotifAsRead(){

    document.querySelectorAll(".notif-read").forEach(function(item){
      item.addEventListener("click", function(event){
        console.log(item.dataset.id)
        let notif_id = item.dataset.id
        notifSocket.send(JSON.stringify(
          {
            "type": "notif_read",
            "message": notif_id
          }
        ))
      })
    })
  }

  function buildDomContent(data) {

    const json_data = JSON.parse(data);

    let content;

    for( notification of json_data){

      content += `
        <div
          class="noty_bar notif-read  noty_type__success noty_theme__unify--v1--light noty_close_with_click noty_close_with_button g-mb-25 mb-1"
          data-id="${ notification.id }">
          <div class="noty_body">
              <div class="g-mr-20">
                  <div class="noty_body__icon">
                      <i class="hs-admin-check"></i>
                  </div>
              </div>
              <div class='${noti  }' > ${ notification.user.username }  a ${ notification.action } à ${ notification.created } </div>
          </div>
          <div class="noty_close_button">×</div>
        </div>
      
      `
    }

    document.querySelector("#notif-feed").innerHTML = content;
    markNotifAsRead()

  }

  function likeItemAjax() {
      const url = '{% url "like_item" %}';
      let options = {
        method: 'POST',
        headers: {
          'X-CSRFToken': cookie
        },
        mode: 'same-origin'
      }

      document.querySelectorAll(".total-post-button").forEach(button => {
        button.addEventListener('click', function (e) {
          let formData = new FormData()
          formData.append('item_id', button.dataset.item_id)
          formData.append('action', button.dataset.action)
          formData.append('model', button.dataset.model)
          options['body'] = formData

          fetch(url, options)
            .then(res => res.json())
            .then(data => {
              if (data['status'] === 'success') {
                let previous = button.dataset.action;
                let action = previous === 'like' ? 'unlike' : 'like';
                button.dataset.action = action
                button.classList.toggle('text-primary')


                let span = button.querySelector('span')
                let totalCount = parseInt(span.innerHTML)
                span.innerHTML = previous === 'like' ? totalCount + 1 : totalCount - 1
                notifSocket.send(JSON.stringify({type: "notif_feed"}))
              }
            })
        })
      })

    }

  function paginateWithAjax(){
    let page = 1;
    var emptyPage = false;
    var canRequest = false;

    window.addEventListener('scroll', function(e){
      let marginY =  document.body.clientHeight - window.innerHeight - 200
      if(window.pageYOffset > marginY && !emptyPage && !canRequest){
        canRequest = true;
        page += 1;
        const spinner = `<div class="spinner"> Loading ... </div>`
        var postList = document.querySelector('#post-ajax')
        postList.insertAdjacentHTML('beforeEnd', spinner)
        const targetSpinner = postList.querySelector('.spinner')

        fetch(`?page_only=1&page=${page}`)
          .then(resp => resp.text())
          .then(data => {
            if(data === ''){
              emptyPage = true
              if(targetSpinner){
                postList.removeChild(targetSpinner)
              }
            }
            else{
              postList.removeChild(targetSpinner)
              postList.insertAdjacentHTML('beforeEnd', data)
              canRequest = false
              
            }
          })

      }
      console.log(marginY)

    })
  }

  function addCommentWithAjax(){
    const url = '{% url "add_ajax_comment" %}';
    let options = {
      method: 'POST',
      headers: {
        'X-CSRFToken': cookie
      },
      mode: 'same-origin'
    }

    document.querySelectorAll('.send-comment').forEach(sendButton => {
      sendButton.addEventListener('click', function(e) {
        let socialComment = sendButton.parentNode.parentNode;
        let textarea = socialComment.querySelector('textarea')
        let content = textarea.value
        let post_id = textarea.dataset.id
        console.log(content, post_id)

        let formData = new FormData();
        formData.append('content', content)       
        formData.append('id', post_id)
        options['body'] = formData

        fetch(url, options)
          .then(resp => resp.text())
          .then(data => {
            if (data === 'error'){
              console.log('error')
            }
            else{
              console.log(data)
              socialComment.parentNode.firstElementChild.insertAdjacentHTML('afterbegin', data)
              textarea.value = ''
            }
          })
      })
    })
  }

  paginateWithAjax()
  likeItemAjax()
  addCommentWithAjax()
  markNotifAsRead()

</script>

{% block dom %}
  const cookie = getCookie('csrftoken')
  console.log(cookie)
   const notifSocket = new WebSocket(
    'ws://'
    + window.location.host
    + '/ws/notif/feed/'
  );

  notifSocket.onopen = function(){
    console.log("Connection is open")
  }

  notifSocket.onmessage = function(e){
    const data = JSON.parse(e.data)
    console.log(data)
    switch(data.name){
      case "greeting": 
        console.log(data.message)
        break;
      
      case "notif_feed": 
        console.log(data.message)
        buildDomContent(data.message)
        break;
        
      default:
        throw new Error("Unknown message type")
        break;
    }
  }

  notifSocket.onclose = function(e){
    console.error(e)

  }
  function markNotifAsRead(){

    document.querySelectorAll(".notif-read").forEach(function(item){
      item.addEventListener("click", function(event){
        console.log(item.dataset.id)
        let notif_id = item.dataset.id
        notifSocket.send(JSON.stringify(
          {
            "type": "notif_read",
            "message": notif_id
          }
        ))
      })
    })
  }

    function buildDomContent(data) {

    const json_data = JSON.parse(data);

    let content;

    for( notification of json_data){

      content += `
        <div
          class="noty_bar notif-read noty_type__success noty_theme__unify--v1--light noty_close_with_click noty_close_with_button g-mb-25 mb-1"
          data-id="${ notification.id }">
          <div class="noty_body">
              <div class="g-mr-20">
                  <div class="noty_body__icon">
                      <i class="hs-admin-check"></i>
                  </div>
              </div>
              <div class='${ notification.read ? "" : "text-primary" }' > ${ notification.user.username }  a ${ notification.action } a ${ notification.target }  à ${ notification.created } </div>
          </div>
          <div class="noty_close_button">×</div>
        </div>
      
      `
    }

    document.querySelector("#notif-feed").innerHTML = content;
    markNotifAsRead()


  }

  function likeItemAjax(){
    const url = '{% url "like_item" %}';
    let options = {
      method: 'POST',
      headers: {
        'X-CSRFToken': cookie
      },
      mode: 'same-origin'
    }

    document.querySelectorAll(".total-post-button").forEach(button => {
      button.addEventListener('click', function (e) {
        let formData = new FormData()
        formData.append('item_id', button.dataset.item_id)
        formData.append('action', button.dataset.action)
        formData.append('model', button.dataset.model)
        options['body'] = formData

        fetch(url, options)
          .then(res => res.json())
          .then(data => {
            if (data['status'] === 'success') {
              let previous = button.dataset.action;
              let action = previous === 'like' ? 'unlike' : 'like';
              button.dataset.action = action
              button.classList.toggle('text-primary')
              

              let span = button.querySelector('span')
              let totalCount = parseInt(span.innerHTML)
              span.innerHTML = previous === 'like' ? totalCount + 1 : totalCount - 1
              notifSocket.send(JSON.stringify({type: "notif_feed"}))

            }
          })
      })
    })

  }


  function paginateWithAjax(){
    let page = 1;
    var emptyPage = false;
    var canRequest = false;

    window.addEventListener('scroll', function(e){
      let marginY =  document.body.clientHeight - window.innerHeight - 200
      if(window.pageYOffset > marginY && !emptyPage && !canRequest){
        canRequest = true;
        page += 1;
        const spinner = `<div class="spinner"> Loading ... </div>`
        var postList = document.querySelector('#post-ajax')
        postList.insertAdjacentHTML('beforeEnd', spinner)
        const targetSpinner = postList.querySelector('.spinner')

        fetch(`?page_only=1&page=${page}`)
          .then(resp => resp.text())
          .then(data => {
            if(data === ''){
              emptyPage = true
              if(targetSpinner){
                postList.removeChild(targetSpinner)
              }
            }
            else{
              postList.removeChild(targetSpinner)
              postList.insertAdjacentHTML('beforeEnd', data)
              canRequest = false
              
            }
          })

      }
      console.log(marginY)

    })
  }

 function addCommentWithAjax(){
    const url = '{% url "add_ajax_comment" %}';
    let options = {
      method: 'POST',
      headers: {
        'X-CSRFToken': cookie
      },
      mode: 'same-origin'
    }

    document.querySelectorAll('.send-comment').forEach(sendButton => {
      sendButton.addEventListener('click', function(e) {
        let socialComment = sendButton.parentNode.parentNode;
        let textarea = socialComment.querySelector('textarea')
        let content = textarea.value
        let post_id = textarea.dataset.id
        console.log(content, post_id)

        let formData = new FormData();
        formData.append('content', content)       
        formData.append('id', post_id)
        options['body'] = formData

        fetch(url, options)
          .then(resp => resp.text())
          .then(data => {
            if (data === 'error'){
              console.log('error')
            }
            else{
              console.log(data)
              socialComment.parentNode.firstElementChild.insertAdjacentHTML('afterbegin', data)
              textarea.value = ''
              notifSocket.send(JSON.stringify({type: "notif_feed"}))

            }
          })
      })
    })
  }

  


  addCommentWithAjax()
  paginateWithAjax()
  likeItemAjax()
  markNotifAsRead()
{% endblock dom %}