<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
        Social network
    </title>

</head>
<body>

    
    {% block content %}
        
    {% endblock content %}



    <script>
        document.addEventListener('DOMContentLoaded', function(e){
            function getCookie(name, value = undefined){
                if (value === undefined){
                    const cookies = document.cookie.split(";")
                    console.log("$$$$$$$$$$$$$$$$$")
                    console.log(cookies)
                    console.log("$$$$$$$$$$$$$$$$$")

                    for(const item of cookies){
                        console.log(item)
                        const [key, value] = item.split("=")
                        console.log(key, value)
                        if(key === name){
                            return value
                        }
                    }
                }
                return null
            }
            {% block dom %}
            
            {% endblock dom %}
        })
        </script>
</body>
</html>