{% extends "base.html" %}



{% block title %}
    {% if comment %}
      Update "{{ comment.content }} "
      {% else %}
      Add comment
    {% endif %}  
{% endblock title %}



{% block content %}
    
    {% if messages %}
        {% for message in messages %}
          <li> {{ message }}  </li>
        {% endfor %}

    {% endif %}
        
    <h1> {% if comment %}
        Update
        {% else %}
        Add Comment
      {% endif %}    "{{ comment.content }} "</h1>
    <br>
    <div>
        <form action="." method="post" >
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Add Comment">
        </form>
    </div>
{% endblock content %}
    
    