<a href="" class="pull-left">
    <img alt="image" src="https://bootdey.com/img/Content/avatar/avatar2.png">
</a>
<div class="media-body">
    <a href="#">
        {{ comment.owner }}
    </a>
    {{ comment.content }}
    <br>
    <!-- <a href="#" class="small"><i class="fa fa-thumbs-up"></i> {{ total_com_like }} Like this!</a> -
                        <small class="text-muted">12.06.2014</small> -->
    {% include 'apps/partial/like_item.html' with total_like=total_com_like total_user=total_com_user model='comment' item=comment tag="a" tag_class="small" %} -
    <small class="text-muted">{{ comment.created_at }}</small>

</div>